* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ol, ul, li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.blog-header {
    height: 90px;
    background: #98bace;
    margin-top: -20px;
}

#blog-title {
    color: white;
    line-height: 65px;
}

.artcle-title {
    font-size: 17px;
}

.right-link ul {
    font-size: 0;
    margin-top: -17px;
    margin-right: 20px;
}

.right-link li {
    background: #2972a6;
    display: inline-block;
    font-size: 14px;
    margin: 0 8px;
    padding: 2px 8px;
}

.right-link a {
    color: white;
}

.evalute {
    display: inline-block;
    width: 50px;
    height: 60px;
    text-align: center;
    margin-left: 20px;
    border: 1px solid #f4f2f4;
    margin-top: 20px;

}

.evalute .glyphicon {
    font-size: 28px;
    margin-top: 1px;
    display: block;
}

.evalute span {
    font-size: 19px;
    display: block;
    margin-top: 5px;

}

.article-info {
    margin-top: 30px;
}

.alert-info {
    border: 1px dashed #e0e0e0;
    padding: 10px;
    margin-top: 30px;
}

.alert-info img {
    height: 70px;
    width: 70px;
}

.alert-info p {
    margin: 3px 0;
    margin-left: 90px;
}

.comment-info {
    margin-top: 30px;
}

.comment {
    margin-top: 25px;

}

.comment p {
    color: #ced0d3;
}

.evaluate {
    margin-top: 15px;
}

.evaluate a {
    margin-left: 20px;
    font-size: 13px;
    color: #808080;
}

.reply-text {
    position: relative;
}

.login-tips {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.login-tips p {
    margin-top: 135px;
}

.article-title {
    text-align: center;
    font-size: 26px;
}

.article-summary {
    color: #6c80a0;
    font-size: 15px;
}

.article-detail {
    font-size: 16px;
}
