{% extends 'backend/backend_base.html' %}
{% load static %}

{% block contents %}
    <div class="bland">
        <a href="">报障管理 </a>/ 报障列表
    </div>

    <div class="col-md-12 trouble-list">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;报障列表
                <a href="/backend/trouble/add" class="btn btn-primary pull-right">增加</a>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>报障标题</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        <th>处理时间</th>
                        <th>处理人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in datas %}
                        <tr>

                            <td>{{ data.title }}</td>
                            <td>{{ data.get_status_display }}</td>
                            <td>{{ data.submit_time | date:'Y-m-d H:i ' }}</td>
                            <td>{{ data.handler_time | date:'Y-m-d  H:i '|default:"待更新" }}</td>
                            <td>{{ data.handler.username |default:"" }}</td>
                            <td>
                                {% if data.status == -1 %}
                                    <a tmp-href="/backend/trouble/{{ data.id }}/delete" type="button"
                                       class="btn btn-danger delete-btn"><span class="glyphicon glyphicon-remove"
                                                                    aria-hidden="true"></span>&nbsp;删除
                                    </a>
                                {% endif %}
                                {% if data.status == -1 %}

                                    <a href="/backend/trouble/{{ data.id }}/edit" type="button"
                                       class="btn btn-default"><span class="glyphicon glyphicon-file"
                                                                     aria-hidden="true"></span>&nbsp;编辑
                                    </a>
                                {% endif %}
                                {% if data.status == 1 %}

                                    <a href="/backend/trouble/{{ data.id }}/evaluate" type="button"
                                       class="btn btn-primary "><span class="glyphicon glyphicon-file"
                                                                      aria-hidden="true"></span>&nbsp;评价
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class=" pagetor pull-right col-md-4 ">
        {% if page.total_count > 1 %}
            <ul class="pagination">
                {#            <li>#}
                {#                <a href="#" aria-label="Previous">#}
                {#                    <span aria-hidden="true">«</span>#}
                {#                </a>#}
                {#            </li>#}
                {#            <li><a href="#">1</a></li>#}
                {#            <li><a href="#">2</a></li>#}
                {#            <li><a href="#">3</a></li>#}
                {#            <li><a href="#">4</a></li>#}
                {#            <li><a href="#">5</a></li>#}
                {#            <li>#}
                {#                <a href="#" aria-label="Next">#}
                {#                    <span aria-hidden="true">»</span>#}
                {#                </a>#}
                {{ page_str }}
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock contents %}

{% block js %}

    $(function(){
        $('.delete-btn').click(function(){
            var href = $(this).attr('tmp-href')
            var trouble_obj = $(this).parentsUntil('tbody');



            $.ajax({
                url:href,
                type:'GET',
                dataType:'json',
                traditional: true,
                success:function(arg){
                    console.log(arg);
                     trouble_obj.remove()

                }

            })
        })

    })



{% endblock js %}
