{% extends 'backend/backend_base.html' %}
{% load static %}

{% block contents %}
    <div class="bland" xmlns="http://www.w3.org/1999/html">
        <a href="/backend/trouble_handler">返回 </a>
    </div>
    <form>
        <div class="form-group col-md-12">
            <label for="artcle_title" class=''>{{ form.title.label }}</label>
            {{ form.title }}
        </div>


        <div class="form-group col-md-12">
            <label for="artcle_detail" class=''>{{ form.detail.label }}</label>
            {{ form.detail }}
        </div>


        <div class="col-md-2">
            <a href="/backend/trouble_handler/{{ trouble_id }}/accept" class='btn btn-primary article-add-btn '>
                接单
            </a>
        </div>
    </form>

{% endblock contents %}

